.workContainer{
    
    margin: 5rem auto;
    width: 80%;
    display: flex;

}

#dark .workContainer{
    background-color: black;
    color: white;
}



.line{
    height: 280vh;
    width: 0.1%;
    margin:3rem auto;
    background-color: rgb(43, 0, 255);
}

.circle{
    width:2rem;
    background-color:black
}

.timeLineCardLeft,.timeLineCardRight{
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    
    padding: 2rem;

    width: 60%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 6rem;
    animation: moveDown 2s linear 1s backwards;

}

.timeLineCardLeftContainer{
    margin-top: 5rem;
    padding-top: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8rem;
   animation-delay: 2s;
    
}

.timeLineCardLeft:nth-child(1){
    animation-delay:1s;
}

.timeLineCardRight:nth-child(1){
    animation-delay: 2s;
}

.timeLineCardLeft:nth-child(2){
    animation-delay: 4s
}
.timeLineCardRight:nth-child(2){
    animation-delay: 5s;
}

.timeLineCardLeft:nth-child(3){
    animation-delay: 6s
}
.timeLineCardRight:nth-child(3){
    animation-delay: 7s;
}
.timeLineCardLeft:nth-child(4){
    animation-delay: 8s
}
.timeLineCardRight:nth-child(4){
    animation-delay: 9s
}

.timeLineCardLeft:nth-child(5){
    animation-delay: 10s
}
.timeLineCardRight:nth-child(5){
    animation-delay: 11s
}
.timeLineCardLeft:nth-child(6){
    animation-delay: 12s
}
.timeLineCardRight:nth-child(6){
    animation-delay: 13s
}
.timeLineCardLeft:nth-child(7){
    animation-delay: 14s
}
.timeLineCardRight:nth-child(7){
    animation-delay: 15s
}








@keyframes moveDown{
    0%{
        opacity: 0;
        transform:translateY(0rem)
    }

    100%{
        opacity: 1;
        transform: translateY(-2rem);
    }
}

.timeLineCardRightContainer{
    margin-top: 0rem;
   gap: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 16rem;
    animation-delay: 4s;
    
    
}

.fa-briefcase,.fa-graduation-cap{
    font-size: 3rem;
    background-color: rgba(97, 95, 92, 0.388);
    padding: 1rem;
    border-radius: 50%;
}

.timeLine{
    width: 1rem;
    height: 0rem;
    background-color: rgba(181, 237, 218, 0.021);
    padding:0 1px;
    border-radius: 2rem;
    margin-top: 5rem;
    z-index: 1;
    animation: move 10s linear 1s forwards ;
}

@keyframes move{
    0%{
        height: 0rem;
    }

    100%{
        height:inherit;
        background-color: rgba(181, 237, 218, 0.797);
    }
}

.iconLeft,.iconRight{
    position: absolute;
    right: -2rem;
    top:-1rem;
    z-index: 4;

}

.iconRight{
    left:-2rem
}



