.homeDesk {
  margin: 0rem auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  z-index: -2;
  height: 100vh;
  margin-top: 3rem;
 
}

#dark .HomeDesk {
  background-color: black;
}
.homeImgDesk {
  width: 50%;
  border: 2px solid white;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  border-radius: 50%;
  animation: img 6s ease 0.5s infinite forwards;
  margin-top: 3rem;
}

@keyframes img {
  0% {
    transform: translatey(0px);
    background-color: rgb(240, 205, 248);
  }
  50% {
    transform: translatey(-20px);
    background-color: rgb(241, 228, 210);
  }
  100% {
    transform: translatey(0px);
    background-color: rgba(168, 242, 207, 0.728);
  }
}

.homeDesPara {
  margin-bottom: 1rem;
  font-size: 0.8rem;

}
.deskDesc {
  width: 80%;

  gap: 0rem;
  padding: 1rem;

  z-index: 0;
  font-size: 1rem;
  /*    background-color: rgba(255, 255, 255, 0.192); */
}

#dark .deskDesc {
  /*  background-color: BLACK; */
}

/* .contactDesk {
  min-width: 50%;
} */
.hello {
  font-size: 1.2rem;
}
.name{
  font-size: 1.8rem;
}

.nameDesk {
  font-size: 1.8rem;
  color: rgb(251, 75, 104);
}
.webDev {
  font-size: 1.5rem;
}

.homeDesk .hireMeAnim{
  text-decoration: none;
  font-size: 1rem;
  color: rgb(251, 75, 104);
  background: none;
padding: 0;
  
  
}

.cursorHome{
   animation: cursor 2s ease 2s infinite;
   font-weight: lighter;
}

@keyframes cursor{
  0%{
    opacity:0;
    width:0;
  }

  100%{
    opacity:100%;
    width: 100%;
  }
}

.fa-earth-europe{
  color: rgb(148, 173, 243);
 animation: earth 2s backwards 2s infinite;
}

@keyframes earth{
  0%{
   opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@media (min-width: 761px) and (max-width:2000px)  {
  .homeDesk {
    display: flex;            
    width: 60%;
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
    /*   margin: 2rem auto; */
    margin: 2rem auto;
    overflow: hidden;
    padding-top: 5rem;
    align-items: center;
    justify-content: space-between;

    z-index: -1;
  }

  #dark .homeDesk {
    background-color: black;
    color: white;
  }

  .homeImgDesk {
    width: 20%;
  

    /*   position: absolute;
  left: 4rem;   
 top:15rem; */

    object-fit: cover;
    display: inline;
    border: 5px solid rgb(234, 185, 192);
    border-radius: 50%;
    position: relative;

    /*  filter: drop-shadow(0 0 1rem rgb(213, 141, 159)); */

    animation: img 6s ease 0.5s infinite forwards;
  }

  @keyframes img {
    0% {
      transform: translatey(0px);
      background-color: rgb(240, 205, 248);
    }
    50% {
      transform: translatey(-20px);
      background-color: rgb(241, 228, 210);
    }
    100% {
      transform: translatey(0px);
      background-color: rgba(168, 242, 207, 0.728);
    }
  }

  .homeDesPara {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: left;
  }

  .homeDesk .hireMeAnim {
    animation: hire 0.5s ease 0.5s 3;
    font-size: 1.5rem;
    width: 20%;
    

    }

  @keyframes hire {
    100% {
      transform: translateY(-1rem);
    }
  }

  .deskDesc {
   
   
    /*     display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    padding: 0.5rem;

    gap: 0rem;

    /* background-color: rgba(240, 248, 255, 0.332); */
  }

  #dark .deskDesc {
    background-color: none;
  }
  .nameDesk {
    color: rgb(251, 75, 104);
    font-size: 3rem;
  }

  /* .contactDesk {
  background-color: rgba(14, 14, 14, 0.881);
  max-width: 30%;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 2rem;
  font-weight: bold;
  margin-top: 2rem;
} */

  #dark .contactDesk {
    background-color: rgb(241, 235, 236);
    color: rgb(16, 16, 16);
  }

  .hello {
    font-size: 1.5rem;
  }

  .hireMeAnim {
   
  }

  .name {
    font-size: 3.5rem;
    
  }

  .webDev {
    font-size: 3rem;
  }

}
