.homeDesk {
  margin: 0rem auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  z-index: -2;
  height: 100vh;
  margin-top: 3rem;
 
}

.homeDesk .fa-hand{
  color: rgb(245, 209, 108);
  margin-left: 0.5rem;
  font-size: 1.5rem;
  animation: hand 2.1s 0.6s infinite;
}

@keyframes hand{
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#dark .HomeDesk {
  background-color: rgb(71, 71, 71);
}
.homeImgDesk {
  width: 45%;
 /*  border: 2px solid  #8f94fb; */
  height: 10rem;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  border-radius: 50%;
  animation: img 6s ease 0.5s infinite forwards;
  margin-top: 3rem;
}

@keyframes img {
  0% {
    transform: translatey(0px);
    background-color: rgb(240, 205, 248);
  }
  50% {
    transform: translatey(-20px);
    background-color: rgb(241, 228, 210);
  }
  100% {
    transform: translatey(0px);
    background-color: rgba(168, 242, 207, 0.728);
  }
}

.homeDesPara {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-align: justify;

}
.deskDesc {
  width: 80%;
  gap: 0rem;
  padding: 1rem;
  z-index: 0;
  font-size: 1rem;
  /*    background-color: rgba(255, 255, 255, 0.192); */
}
.area{
  background:none;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  position: absolute;
  top: 0;
  z-index: 0;
 
  }

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background:  #8f94fb;
  animation: animate 30s linear infinite;
  bottom: -150px;
  
}

#dark .circles li{
background: rgba(248, 239, 240, 0.558);
}

.circles li:nth-child(1){
  left: 1rem;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  
}


.circles li:nth-child(2){
  left: 5rem;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: rgba(157, 190, 246, 0.2);
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 2%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 90%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 15%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

#dark .deskDesc {
  /*  background-color: BLACK; */
}

/* .contactDesk {
  min-width: 50%;
} */
.hello {
  font-size: 1.2rem;
}
.name{
  font-size: 1.8rem;
}

.nameDesk {
  font-size: 1.8rem;
  color:  #8f94fb;
}
.webDev {
  font-size: 1.5rem;
  animation: callback 1s ease;
  letter-spacing: 0.15rem;
}

@keyframes callback{
  from{
    width: 0;
   
  }

  to{
    width: 100%;
    opacity: 1;
  }
}


.homeDesk .hireMeAnim{
  text-decoration: none;
  font-size: 1rem;
  color: #8f94fb;
  background: none;
padding: 0;
  
  
}

.cursorHome{
   animation: cursor 2s ease 2s infinite;
   font-weight: lighter;
}

@keyframes cursor{
  0%{
    opacity:0;
    width:0;
  }

  100%{
    opacity:100%;
    width: 100%;
  }
}

.fa-earth-europe{
  color: rgb(54, 54, 56);
 animation: earth 2s backwards 2s infinite;
}

#dark .fa-earth-europe{
  color: white;
}


@keyframes earth{
  0%{
   opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.scrollDown{
  display: none;
  
}



@keyframes scroller {
  0%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(0rem);
  }
  
}

@media (min-width: 761px) and (max-width:2000px)  {
  .homeDesk {
    display: flex;            
    width: 60%;
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
    /*   margin: 2rem auto; */
    margin: 2rem auto;
    overflow: hidden;
    padding-top: 5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background: none;

   
  }

  .homeDesk .fa-hand{
 
    font-size: 2rem;
    
  }

  .area{
    background:none;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: absolute;
    top: 0;
    z-index: 0;
   
    }

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:  #8f94fb;
    animation: animate 30s linear infinite;
    bottom: -150px;
    
}

#dark .circles li{
  background: rgba(248, 239, 240, 0.558);
}

.circles li:nth-child(1){
    left: 1rem;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    
}


.circles li:nth-child(2){
    left: 5rem;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: rgba(157, 190, 246, 0.2);
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 2%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 90%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 30px;
    height: 30px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 15%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.scrollDown{
  display: flex;
  position: absolute;
  top: 48rem;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color:  #8f94fb;
  color: rgb(48, 48, 49);
  animation: scroller 2s ease 0.5s 5 ;
 
}
.scrollDown:hover{
  background-color: #8ffbe0;
  color: rgb(22, 21, 21);
  animation: none;
}



@keyframes scroller {
  0%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(1rem);
  }
  
}

  #dark .homeDesk {
    background-color: none;
    color: white;
    
  }

  .homeImgDesk {
    width: 15%;
  

    /*   position: absolute;
  left: 4rem;   
 top:15rem; */

    object-fit: cover;
    display: inline;
   /*  border: 2px solid  #8f94fb; */
    border-radius: 50%;
    position: relative;

    /*  filter: drop-shadow(0 0 1rem rgb(213, 141, 159)); */
  /*   box-shadow:50px 100px 10px 5px rgb(170, 197, 223,0.5); */

    animation: img 6s ease 0.5s infinite forwards;
  }

  @keyframes img {
    0% {
      transform: translatey(0px);
      background-color: rgb(240, 205, 248);
    }
    50% {
      transform: translatey(-20px);
      background-color: rgb(241, 228, 210);
    }
    100% {
      transform: translatey(0px);
      background-color: rgba(168, 242, 207, 0.728);
    }
  }

  .homeDesPara {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
  }

  .homeDesk .hireMeAnim {
    animation: hire 0.5s ease 0.5s 3;
    font-size: 1.5rem;
    width: 20%;
    

    }

  @keyframes hire {
    100% {
      transform: translateY(-1rem);
    }
  }

  .deskDesc {
   
   
    /*     display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    padding: 0.5rem;

    gap: 0rem;

    /* background-color: rgba(240, 248, 255, 0.332); */
  }

  #dark .deskDesc {
    background-color: none;
  }
  .nameDesk {
    color:  #8f94fb;
    font-size: 3rem;
  }

  /* .contactDesk {
  background-color: rgba(14, 14, 14, 0.881);
  max-width: 30%;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 2rem;
  font-weight: bold;
  margin-top: 2rem;
} */

  #dark .contactDesk {
    background-color: rgb(241, 235, 236);
    color: rgb(16, 16, 16);
  }

  .hello {
    font-size: 1.5rem;
  }

  .hireMeAnim {
   
  }

  .name {
    font-size: 3.5rem;
    
  }

  .webDev {
    font-size: 3rem;
  }

}
