.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 8rem;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 6;
  margin-bottom: 1rem;
  background-color:white;
  
}
#dark .navbar {
  background-color: rgba(6, 6, 6);
  color: rgb(248, 244, 244);
}

.logo {
  font-size: 2rem;
  
  font-weight: lighter;
  margin-left: 0.5rem;
  color: rgb(121, 196, 234);
}

.deskNav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}



.navbar button{
  border: none;
}

.navbar .Theme {
  /*  padding: 0.2rem 1rem; */
  
  /*   border-radius: 2rem; */
  border: 0px solid red;

  background:none;

  /*   background-color: rgba(11, 11, 11, 0.579); */
  /*   color: white; */
  font-size: 1.3rem;
}

.fa-sun{
  color: white;
  background: none;
}

.fa-moon{
  color: black;
  background: none;
}
#dark .Theme {
  background-color: rgb(10, 10, 10);
  
}

.navbar .headerNav{
 color: black;
 font-weight:light;
 background: none;

}

.navbar .headerNavMobil{
  color: black;
  font-weight:light;
  background: none;
  margin: 0 ;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
 
 }

.headerNav:hover{
  border-bottom: 2px solid black;
}
.headerNavMobil:hover{
  border-bottom: none;
}

#dark .headerNav:hover{
  border-bottom: 2px solid white;
}
#dark .headerNavMobil:hover{
  border-bottom: none;
}

.navbar .headerNavContact{
 /*  background-color: rgb(251, 75, 104);
  color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgb(222, 204, 204); */
    border: none;
    width: 10%;
    text-align: center;
}

.headerNavContact:hover{
  background-color: rgba(235, 199, 144, 0.297);
  color:black;
}


/* #light .Theme::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  padding: 1rem;
  border-radius: 50%;
  left: 0;
  background-color: rgba(237, 237, 241, 0.601);
  z-index: 100;
}

#dark .Theme::after {
  content: "";
  position: absolute;
  top: 0;
  padding: 0.9rem;
  border-radius: 50%;
  right: 2rem;
  background-color: rgba(41, 41, 41, 0.435);
  z-index: 100;
  transform: translateX(2rem);
}
 */
.fa-bars {
  font-size: 2rem;
  display: flex;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.navLinks{
  display: none;
}
.navbar .navLinksMobil {
  display: flex; 
  flex-wrap: wrap;
  list-style: none; 
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
 position: fixed;
  bottom: 0rem;
  left: 0;
  font-size: 1.2rem;
  z-index: 500;
  height: 8rem; 
  margin: 0 2rem;
  padding: 0 2rem;
  width: 100%;
  background-color: white;
  
  animation: mobilNav 0.5s ease 0.2s forwards;
}

.navbar .navLinksMobil i{
  font-size: 1.4rem;
  color: rgba(251, 75, 104, 0.518);;
}

.navbar .navLinksMobil .navName{
  font-size: 0.8rem;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  font-weight: lighter;
}

#dark .navbar .navLinksMobil{
  background-color: rgb(5, 5, 5);
}

#dark .navbar .navLinksMobil i{
  color: gray;
}


@keyframes mobilNav {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(-2rem);
  }
}

#dark .navLinksMobil {
  background-color: rgba(215, 215, 203, 0.15);
}

a {
  background-color: rgba(196, 187, 187, 0.549);
  padding: 0.2rem 3rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.fa-xmark {
  position: absolute;
  left: -3rem;
  top: 0;
  background-color: rgba(214, 217, 217, 0.266);
  padding: 1rem;
  border-radius: 50%;
  animation: mobilNav 0.5s ease 0.3s forwards;
}
.barsAnim {
  animation: bars 0.5s ease 0.1s;
}
@keyframes bars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@media (min-width: 760px) {

  .navbar{
    width:100%;
    background-color: rgb(255, 255, 255);
    color: black;
    height:5rem;
  }

  #dark .navbar{
    background-color: black;
    color: white;
  }

  .Theme{
    margin-right: 3rem;
  }
  .fa-bars {
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: none;
    padding: 0;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    z-index: 100;

  }

  a {
    font-size: 1.1rem;
    text-decoration: none;
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .active {
    background: none;
  }

  /* a{
      color: black;
      text-decoration: none;
      
  } */

  #dark a {
    color: white;
  }

  #dark .active {
    color: white;
  }
}
